<!doctype html>
<html lang="en" xmlns:th="http:/thymeleaf.org" 
	th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>About new page</title>
</head>
<body>

	<section>	
		<h2>this is in about new page</h2>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore tenetur iste alias 
		tempora aperiam non recusandae ducimus asperiores explicabo dolorem officia beatae voluptas 
		praesentium ex deserunt perspiciatis sunt enim. Aliquam officia debitis natus earum ea non 
		placeat corporis laboriosam atque minima mollitia fugiat recusandae neque vel voluptate minus 
		quaerat? Reiciendis.</p>
		
	</section>
</body>
</html>